body {
  background-color: #FFC14C;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
    text-align: center;

}

.login {
  .login-container {
    background-color: white;
    width: 300px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);


    .txt {
      margin: auto;
      width: 300px;
      margin-top: 25px;
    }

    .btn {
      width: 90%;
      margin-top: 25px;
      background-color: #FFC14C;
      color: black;
      font-weight: bold;

      &:hover {
        background-color: black;
        color: #FFC14C;
      }
    }

    .error {
      color: red;
      margin-bottom: 20px;
    }
  }
}
