.sidebar {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  padding: 2rem 3rem;
  width: 20rem;
  height: 100vh;

  .logoContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .logo {
      width: 4rem;
    }

    h2.tittle {
      font-size: 31.42px;
      color: black;
      padding: 0 0 0 1rem;
    }
  }

  .burgerContainer {
    content: "";
    background-color: #ffc14c;
    position: absolute;
    right: (-35px / 2);
    top: calc(9rem / 1.15);
    width: 35px;
    height: 35px;
    border-radius: 2rem;
    z-index: 1;

    .burgerTrigger {
      content: "";
      width: 35px;
      height: 35px;
      background-color: red;
      cursor: pointer;
      z-index: 2;
      opacity: 0;
    }

    .burgerMenu {
      content: "";
      background-color: #ffc14c;
      position: relative;
      z-index: 1;
      width: 20px;
      height: 3px;
      bottom: calc(35px / 2);
      left: 0.45rem;
    }

    .burgerMenu::after {
      content: "";
      background-color: white;
      position: absolute;
      width: 20px;
      height: 3px;
      border-radius: 2rem;
      top: 0.4rem;
      transform: translateY(-0.4rem) rotate(45deg);
    }

    .burgerMenu::before {
      content: "";
      background-color: white;
      position: absolute;
      width: 20px;
      height: 3px;
      border-radius: 2rem;
      top: -0.45rem;
      transform: translateY(0.4rem) rotate(-45deg);
    }
  }

  .burgerContainer::after {
    content: "";
    position: absolute;
    right: 35px;
    top: (35px / 2);
    z-index: 0;
    width: calc(6rem + 15rem);
    background-color: lightgray;
    height: 2px;
  }

  .profileContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 4rem 0 0 0;

    img {
      width: auto;
      height: 3rem;
    }

    .profileContents {
      padding: 0 0 0 1rem;
      p.name {
        padding: 0;
        margin: 0;
        font-size: 16px;
        color: gray;
        text-transform: capitalize;
        font-weight: 600;
      }

      p {
        padding: 0;
        margin: 0;
        font-size: 14px;
        color: gray;
        text-transform: lowercase;
      }
    }
  }

  .contentsContainer {
    margin: 2rem 0 0 0;

    ul {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: column;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        margin: 0.75rem 0;
        padding: 0.75rem 0;
        width: 100%;
        border-radius: 1rem;

        .icon-ui {
          margin-right: 0.8rem;
          margin-left: 0.6rem;
          width: 1.8rem;
          height: 1.8rem;
        }

        a {
          text-decoration: none;
          color: black;
          font-size: 18px;
          font-weight: 600;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }

      li.active{
        //background-color: #FFF3DC;

        a{
            color: black;
        }
      }

      li:hover{
        background-color: lightgray ;
        transition: 0.25s all;
      }

    }
  }
}

.sidebar.active {
  width: 3rem;

  .logoContainer.active {
    h2.tittle {
      opacity: 0;
    }
  }

  .burgerContainer.active {
    .burgerMenu {
      background-color: white;
    }

    .burgerMenu::before {
      transform: translateY(0rem) rotate(0deg);
    }

    .burgerMenu::after {
      transform: translateY(0rem) rotate(0deg);
    }
  }

  .profileContainer{
    .profileContents{
       opacity: 0; 
    }
  }

  .contentsContainer{
    a{
        opacity: 0;
    }
  }
}
