* {
    /*box-sizing: border-box;*/
    font-family: "Nunito", sans-serif;
}


body{
    background-color: rgb(235, 234, 234);
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

h1{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}